<footer id="footer">{{ text_footer }}<br />{{ text_version }}<br>
<center>
<a target="_blank" href="http://gccworld.info/doc/behrooz/" class="btn btn-success" role="button">Create Free Support Ticket</a>
<a target="_blank" href="http://gccworld.info/doc/behrooz/" class="btn btn-danger" role="button"><img src="../admin/view/image/small-thumb.jpg" style="height:40px">PLZ DOWNLOAD THE LATEST VERSION OF BEHROOZ THEME</a>
</center>

</footer>

</div>


</body></html>
